<div class = "icon_footer" role="list" aria-label="Mạng xã hội">
    <div role="listitem">
        <a href = "https://www.facebook.com/studyvault.uit" target="_blank" rel="noopener noreferrer" aria-label="Facebook SVUIT (mở trong tab mới)">
            <i class="fa-brands fa-square-facebook" aria-hidden="true"> </i>
        </a>
    </div>
    <div role="listitem">
        <a href = "https://www.youtube.com/@svuit-mmtt" target="_blank" rel="noopener noreferrer" aria-label="YouTube SVUIT (mở trong tab mới)">
            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
        </a>
    </div>
    <div role="listitem">
        <a href = "mailto:contact@svuit.org" aria-label="Gửi email tới contact@svuit.org">
            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class = "link_footer">
    <a href = "https://github.com/SVUIT/mmtt/issues/new/choose" target = "_blank" rel="noopener noreferrer" aria-label="Báo cáo lỗi (mở trong tab mới)">
        Báo cáo lỗi tại đây
    </a>
</div>