<div class = "icon_footer">
    <div>
        <a href = "https://www.facebook.com/studyvault.uit" target="_blank">
            <i class="fa-brands fa-square-facebook"> </i>
        </a>
    </div>
    <div>
        <a href = "https://www.youtube.com/@svuit-mmtt" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>
    <div>
        <a href = "mailto:contact@svuit.org" target="_blank">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
</div>

<div class = "link_footer">
    <a href = "https://github.com/SVUIT/mmtt/issues/new/choose" target = "_blank">
        Báo cáo bug tại đây. 
    </a>
</div>