<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <nav aria-label="Auxiliary" class="aux-nav p-0">
        <ul class="aux-nav-list m-0">
            <li class="aux-nav-list-item">
                <a href="/mmtt/docs/ThongBao/index" class="site-button" role="button" aria-label="Xem thông báo mới">
    <span class="button-text">Thông báo</span>
    <span class="sr-only"> (Mở trong cửa sổ mới)</span>
</a>
            </li>
        </ul>
    </nav>
</body>
</html>
