<nav aria-label="Thanh công cụ" class="aux-nav">
    <ul class="aux-nav-list" role="menubar" aria-label="Công cụ">
      {% for link in site.aux_links %}
        <li class="aux-nav-list-item" role="none">
          <a href="{{ link.last }}" 
             class="site-button"
             role="menuitem"
             {% if site.aux_links_new_tab %}
             target="_blank" 
             rel="noopener noreferrer"
             aria-label="{{ link.first }} (Mở trong cửa sổ mới)"
             {% endif %}
          >
            <span class="button-text">{{ link.first }}</span>
          </a>
        </li>
      {% endfor %}
      
      <li class="aux-nav-list-item" role="none">
        {% include components/switchTheme.html %}
      </li>
    </ul>
  </nav>
