<div class="dm-container">
    <input type="checkbox" class="checkbox js-toggle-dark-mode" id="checkbox">
    <label for="checkbox" class="checkbox-label dark">
      <span class="visually-hidden">Chuyển chế độ sáng/tối</span>
      <i class="fa-solid fa-sun" aria-hidden="true"></i>
      <i class="fa-solid fa-moon" aria-hidden="true"></i>
      <span class="ball"></span>
    </label>
  </div>
  <script>
    const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');
    const cbLabel = document.querySelector('.checkbox-label');
    const body = document.body;

    localStorage.getItem('theme') === 'dark'
       ? (toggleDarkMode.checked = true, cbLabel.classList.add('dark'), body.classList.add('dark'))
      : (toggleDarkMode.checked = false, cbLabel.classList.remove('dark'), body.classList.remove('dark'));

    jtd.addEvent(toggleDarkMode, 'click', function(){
      if (jtd.getTheme() === 'dark') {
        jtd.setTheme('light');
        window.localStorage.setItem('theme', 'light');
        body.classList.remove('dark');
      } else {
        jtd.setTheme('dark');
        window.localStorage.setItem('theme', 'dark');
        body.classList.add('dark');
      }
    });
    </script>